
.denied-container {
    position: fixed;
    width: 100%;
    height: 105%;
    background-image: url('./giphy.gif'); /* Remplacez par le chemin réel de votre GIF */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    z-index: -999;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de superposition pour rendre le texte plus lisible */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .denied-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  